name: Build and Deploy Review PR

on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      app_service_name:
        required: true
        type: string
      resource_group:
        required: true
        type: string
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

jobs:
  build-docker:
    name: Build Docker Image
    uses: ./.github/workflows/shared-build-docker.yml
    permissions:
      contents: read
      packages: write
    with:
      app_name: ${{ inputs.app_name }}
  deploy:
    name: Deploy to Azure Slot
    uses: ./.github/workflows/shared-deploy-pr.yml
    needs: [build-docker]
    permissions:
      id-token: write
    with:
      image_ref: ${{ needs.build-docker.outputs.image_ref }}
      app_service_name: ${{ inputs.app_service_name }}
      resource_group: ${{ inputs.resource_group }}
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
