name: Build and Deploy

on:
  workflow_call:
    inputs:
      build_command:
        required: true
        type: string
      app_name:
        required: true
        type: string
      app_service_name:
        required: true
        type: string
      resource_group:
        required: true
        type: string
      healthcheck_path:
        required: false
        type: string
        default: /
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_TENANT_ID:
        required: true
      AZURE_SUBSCRIPTION_ID:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_type }}
  cancel-in-progress: true

jobs:
  build-docker:
    name: Build Docker Image
    uses: ./.github/workflows/shared-build-docker.yml
    permissions:
      contents: read
      packages: write
    with:
      build_command: ${{ inputs.build_command }}
      app_name: ${{ inputs.app_name }}
  deploy: 
    name: Deploy to Azure
    uses: ./.github/workflows/shared-deploy.yml
    needs: [build-docker]
    permissions:
      id-token: write
    with:
      image_ref: ${{ needs.build-docker.outputs.image_ref }}
      app_service_name: ${{ inputs.app_service_name }}
      resource_group: ${{ inputs.resource_group }}
      healthcheck_path: ${{ inputs.healthcheck_path }}
    secrets:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
